.display {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

.displayText {
    color: rgb(255, 255, 255);
    font-size: 50px;

}

.num {
    height: 64px;
    width: 100px;
    appearance: none;
    background-color: #000000;
    border: 2px solid rgb(26, 26, 26);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.bottomZero {
    height: 64px;
    width: 200px;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.normalNumbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
}

.bottomNumbers {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
}

.calculatorBody {
    outline: 10px solid black;
    height: 420px;
    width: 400px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}



.num:hover {
  box-shadow: rgba(255, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.num:active {
  box-shadow: none;
  transform: translateY(0);
}

.bottomZero:hover {
    box-shadow: rgba(255, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.bottomZero:active {
    box-shadow: none;
    transform: translateY(0);
}

